#about-me {

    & .perfil {

        & .perfil-img {
            padding: 4px;
            background: var(--border-gradient);
            border-radius: 50%;

            & img {
                border: 4px solid white;
                width: 3.5rem;
                border-radius: 50%;
            }
        }

        & .perfil-info {
            gap: .5rem;
        }

        & .perfil-features li {
            display: flex;
            gap: .5rem;
            align-items: center;
        }

    }

    @media (width >= 80em) {
    
        & .perfil {
            grid-template-columns: 11rem 4fr 1fr;

            & .perfil-img {
    
                & img {
                    width: 11rem;
                }
            }

            & .perfil-info {

                & .follow {
                    gap: 4rem;

                    & a {
                        font: var(--text-sm);
                        font-weight: 600;
                        color: var(--text-color-primary);

                        &:hover {
                            text-decoration: none;
                            color: inherit;
                        }
                    }
                }

                & .perfil-text {
                    max-width: 24rem;
                }
            }
        }
    }
}