#gallery {
    background-color: var(--bg-color);

    & > div {
        grid-template-columns: repeat(auto-fit, minmax(17.87rem, 1fr));
        padding: 1rem;
        gap: 1rem;
    
        & img {
            border: 1px solid var(--skeleton-color);
        }
    }

    @media (width >= 48em) {

        & > div {
            padding: 1.5rem 2rem;
            gap: 1.5rem;
            
            & img {
                filter: drop-shadow(.2rem .2rem .4rem rgb(0 0 0 / 0.34));
            }
        }

    }
}